.col > img {
        max-height: 80%;
    max-width: 80%;
    margin: 2%;
}

.category-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.subcategories-container {
    height: 100%;
}

.subcategories-container > div {
    height: 50%;
}

.subcategories-container > div > div {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 4%;
}
/*
.subcategories-container img {
    width: 90%;
    height: 90%;
}*/

.action-type-content {
    height: 100%
}

.action-type-content >div {
    height: 50%;
}

.action-type-content >div > div {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 4%;
}

/*.action-type-content img {
    width: 90%;
    height: 90%;
}*/

.word-learn-content {
    display: flex;
    height: 100%;
}

.word-learn-left-content {
    width: 25%;
    height: 100%;
}

.word-learn-left-content> div {
    height: 30%;
    margin: 4%;
}

.word-learn-left-content img {
    max-height: 80%;
    max-width: 80%;
    margin: 2%
}

.word-learn-right-content {
    width: 75%;
    height: 100%;
}

.word-learn-big-image {
    max-height: 90%;
    max-width: 90%;
    min-height: 80%;
    min-width: 80%;
    margin: 1%;
}

#word-learn-big-subtittles {
    font-size: 200%;
}

#winImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#winImage > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 5px blue solid;
}

#wordExerciseContent {
    display: flex;
    height: 100%;
}

.left-column {
    width: 25%;
    height: 100%;
}

.left-column> div,
.right-column> div {
    height: 30%;
    margin: 4%;
}

.left-column img,
.right-column img {
    max-height: 80%;
    max-width: 80%;
    margin: 2%
}

.right-column {
    width: 25%;
    height: 100%;
    right: 0;
    position: absolute;
}

.dropzone {
    border-radius: 4px;
    padding: 10px;
    width: 80%;
    transition: background-color 0.3s;
}

.word-exercise-item img {
    max-height: 80%;
    max-width: 80%;
    margin: 2%
}

.word-exercise-item > div {
    height: 100%;
}

.middle-container {
    right: 20%;
}


/*Draggable*/

.drop-target {}


/*END Draggable*/


/*Expression Learn*/

#expressionContainer {
    height: 100%;
}

#expressionContainer > .col {
    width: 30%;
    height: 50%;
}

#expressionContainer > .col > div,
.noun-items div {
    width: 100%;
    height: 100%;
}

#expressionContainer img {
    width: 100%;
    height: 100%;
}

.noun-item-img {
    border: 5px solid yellow;
}

.action-item-container {
    width: 100%;
    height: 100%;
}

.action-item-img {
    border: 5px solid green;
}

.person-item-img {
    border: 5px solid orange;
}


/*END Expression Learn*/


/*Experssion Exercise*/

#expressionExerciseContainer {
    height: 100%;
}

#expressionExerciseContainer > .col {
    width: 20%;
    height: 30%;
}

#expressionExerciseContainer > .col > div,
.noun-items div {
    width: 100%;
    height: 100%;
}

#expressionExerciseContainer img {
    width: 100%;
    height: 100%;
}

#nouns-content {
    height: 100% !important;
}

.nounBigContent {
    height: 28%!important;
    margin-top: 10%;
}

.nounBigContent >div {
    height: 100%
}

.noun-small-item {
    height: 40% !important;
    width: 40%;
    display: inline-block;
}

.noun-small-item > div {
    height: 100%;
}

.movedElement {
    opacity: 0.3;
}


/*END Experssion Exercise*/


/*Word Speach*/

#wordSpeachContent {
    height: 100%;
}

#wordSpeachContent .col {
    position: relative;
}

#wordSpeachContent img {
    width: 100%;
    height: 100%;
}

.item-completed {
    opacity: 0.5;
}

.done-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 45%;
    width: 50%;
    background-image: url(../Assets/icons/tick-305245_640.png);
    background-size: 100% 100%;
}


/*END Word Speach*/


/*Word Memory*/

#memoryContainer {
    height: 100%;
}

#memoryContainer > .row {
    height: 50%
}

#memoryContainer .col {
    height: 100%;
}

.question-card {
    background: url(../Assets/icons/question.jpg) 0 0 no-repeat;
    background-position: center;
    display: table;
    height: 100%;
    width: 100%;
    background-size: 50%;
}

.question-card-container {
    height: 100%;
    widows: 100%;
}

.answer-card-container {
    height: 100%;
    width: 100%;
}

.answer-card {
    width: 100%;
    height: 100%;
}

.answer-card > img {
    width: 80%;
    height: 80%;
}


/*FLIPP CARD*/

#card {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#card.flipped {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

#card figure {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

#card img {
    max-height: 80%;
    max-width: 80%;
}

#card .back {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}


/*END FLIPP CARD*/


/*END Word Memory*/

#pieContainer {
    float: left;
}

#pieContainer > span {
    display: -webkit-inline-box;
}
