<ion-view ng-controller="wordMemoryCtor as vm">

    <ion-content scroll="false">

        <div id='memoryContainer'>
            <div class="row row-center text-center" ng-repeat='row in vm.nouns track by $index'>
                <div class="col" ng-repeat='noun in row track by $index' ng-click='vm.clickOnImage(noun)'>

                    <div id="card" ng-class="{ 'flipped': noun.showItem}">
                        <figure class="front">
                            <i class="question-card"></i>
                        </figure>
                        <figure class="back">
                            <img class='noun-item-img' src='{{noun.Picture}}'></img>
                            <div ng-show='vm.isLiteral'>{{noun.Text}}</div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="vm.isWin" id="winImage" ng-click="vm.goBack()">
        <img src="{{vm.baseURL}}/multimedia/picture/ok.jpg"></img>
        </div>
    </ion-content>
</ion-view>
