<ion-view ng-controller="wordLearnCtor as vm">

    <ion-content scroll="false">
        <div class="word-learn-content text-center">
            <div class="word-learn-left-content">
                <div ng-click="vm.clickOnSmallImage(vm.nouns[0])">
                    <img class="noun-item-img" ng-src={{vm.nouns[0].Picture}}></img>
                    <div ng-show='vm.isLiteral'>{{vm.nouns[0].Text}}</div>
                </div>
                <div ng-click="vm.clickOnSmallImage(vm.nouns[1])">
                    <img class="noun-item-img" ng-src={{vm.nouns[1].Picture}}></img>
                    <div ng-show='vm.isLiteral'>{{vm.nouns[1].Text}}</div>
                </div>
                <div ng-click="vm.clickOnSmallImage(vm.nouns[2])">
                    <img class="noun-item-img" ng-src={{vm.nouns[2].Picture}}></img>
                    <div ng-show='vm.isLiteral'>{{vm.nouns[2].Text}}</div>
                </div>
            </div>
            <div class="word-learn-right-content" ng-if="vm.selectedItem.Picture != undefined">
                <img class="word-learn-big-image noun-item-img" ng-src={{vm.selectedItem.Picture}}></img>
                <div id="word-learn-big-subtittles" ng-show='vm.isLiteral'>{{vm.selectedItem.Text}}</div>
            </div>
        </div>

        <div ng-show="vm.isWin" id="winImage" ng-click="vm.goBack()">
        <img src="{{vm.baseURL}}/multimedia/picture/ok.jpg"></img>
        </div>
    </ion-content>
</ion-view>
