<ion-view ng-controller="wordSpeachCtor as vm">

    <ion-content scroll="false">
        <div class='row row-center text-center' id="wordSpeachContent">
            <div class="col + {{noun.completed}}" ng-repeat='noun in vm.nouns' ng-click='vm.clickOnImage($index)'>
                <img src='{{noun.Picture}}' class="noun-item-img"></img>
                <div ng-show='vm.isLiteral'>{{noun.Text}}</div>
                <i class="done-icon" ng-show='noun.completed == "item-completed"'></i>
            </div>

        </div>

        <div ng-show="vm.isWin" id="winImage" ng-click="vm.goBack()">
        <img src="{{vm.baseURL}}/multimedia/picture/ok.jpg"></img>
        </div>
    </ion-content>
</ion-view>
