<ion-view ng-controller="wordExerciseCtor as vm">


    <ion-content scroll="false">
        <div id="wordExerciseContent">
            <div class="left-column text-center">
                <div class="word-exercise-item" id="{{ 'left-containter-'+noun.Id}}" ng-repeat="noun in vm.nouns">
                    <div id="{{'image' +noun.Id}}" class="draggable drag-drop">
                        <img class="noun-item-img" src="{{noun.Picture}}"></img>
                        <div ng-show='vm.isLiteral'>{{noun.Text}}</div>
                    </div>
                </div>
            </div>

            <div class="right-column text-center middle-container">
                <div class="word-exercise-item">
                    <div class="{{'middle-item-'+element.Id}}" ng-repeat="element in vm.randElements" style="visibility:hidden">
                        <img class="noun-item-img" src="{{element.Picture}}"></img>

                        <div ng-show='vm.isLiteral'>{{element.Text}}</div>
                    </div>
                </div>
            </div>

            <div class="right-column text-center">
                <div class="word-exercise-item">
                    <div class="{{'dropzone'+element.Id}}" ng-repeat="element in vm.randElements">
                        <img class="noun-item-img" src="{{element.Picture}}"></img>

                        <div ng-show='vm.isLiteral'>{{element.Text}}</div>
                    </div>
                </div>
            </div>

            <div ng-show="vm.isWin" id="winImage" ng-click="vm.goBack()">
        <img src="{{vm.baseURL}}/multimedia/picture/ok.jpg"></img>
            </div>

    </ion-content>
</ion-view>
