<ion-view ng-controller="NewUserCtrl as vm">
    <ion-content>
        <label class="item item-input">
            <span class="input-label">Login</span>
            <input type="text" ng-model='vm.Login'>
        </label>
        <label class="item item-input">
            <span class="input-label">Imię</span>
            <input type="text" ng-model='vm.NameFirst'>
        </label>
        <label class="item item-input">
            <span class="input-label">Nazwisko</span>
            <input type="text" ng-model='vm.NameLast'>
        </label>
        <div class="text-center">
            <button class="button button-balanced" ng-click='vm.saveUser()'><span ng-show='!vm.saving'><i class="ion-person-add"></i> Zapisz</span><span> <ion-spinner ng-show='vm.saving'></ion-spinner></span></button>
        </div>
    </ion-content>
</ion-view>