<ion-view ng-controller="UserProgressCtrl as vm">
    <ion-content>
        <div class="row">
            <span> 
            <strong>{{vm.selectedUser.NameFirst}} {{vm.selectedUser.NameLast}} </strong>
             Ostatio zalogowany/a: <i>{{vm.selectedUser.LastLoginDate}}</i>
            </span>
        </div>
        <div class="row">
            <div class='col'>
                <div class="card" ng-repeat='item in vm.userActivities'>
                    <div class="item item-icon-left">
                        <i ng-class="{'icon ion-checkmark-circled balanced': item.IsSuccess, 'icon ion-close-circled assertive': !item.IsSuccess}"></i> {{item.GameName}} {{item.Time}}
                        <span class="item-note">
                    {{item.Date}}
                </span>
                    </div>
                </div>
                                        <button class="button button-balanced" ng-click='vm.loadMore()'>Więcej...</button>

            </div>
            <div class="col col-75">
                <div id='container' class="text-center">
                    <h1>Słowa</h1>
                    <div id='wordContainer'></div>
                    <h1>Wypowiedź</h1>
                    <div id='expressionContainer'></div>
                </div>
                <div id='pieContainer'>
                    <span id='container0'></span>
                    <span id='container1'></span>
                    <span id='container2'></span>
                    <span id='container3'></span>
                    <span id='container4'></span>
                    <span id='container5'></span>
                    <span id='container6'></span>
                    <span id='container7'></span>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-assertive">
        <div class="row text-center">
            <div class="col" ng-click="vm.goBack()">Back</div>
        </div>
    </ion-footer-bar>
</ion-view>