<ion-view ng-controller="actionTypeCtrl as vm">

    <ion-content scroll="false">
        <div class="row text-center row-center action-type-content">
            <div class="col">
                <img ng-src="{{vm.baseURL}}/multimedia/picture/slowa.JPG" ng-click="vm.selectedAction(0)"></img>
            </div>
            <div class="col">
                <img ng-src="{{vm.baseURL}}/multimedia/picture/Wypowiedzi.JPG" ng-click="vm.selectedAction(1)"></img>
            </div>
        </div>

    </ion-content>

    <ion-footer-bar class="bar-assertive">
        <div class="row text-center">
            <div class="col" ng-click="vm.goBack()">Wstecz</div>
        </div>
    </ion-footer-bar>
</ion-view>
