<ion-view ng-controller="gameActionCtrl as vm">

    <ion-content scroll="false">
        <div class="action-type-content">
            <div class="row text-center">
                <div class="col">
                    <img ng-src="{{vm.baseURL}}/multimedia/picture/ucze.jpg" ng-click="vm.selectedAction(0)"></img>
                    <!--                    <div>Ucze się</div>-->
                </div>
                <div class="col">
                    <img ng-src="{{vm.baseURL}}/multimedia/picture/cwicze.jpg" ng-click="vm.selectedAction(1)"></img>
                    <!--                    <div>Ćwiczę</div>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <img ng-src="{{vm.baseURL}}/multimedia/picture/wypowiedzi.jpg" ng-click="vm.selectedAction(2)"></img>
                    <!--                    <div>Mowa</div>-->
                </div>
                <div class="col">
                    <img src="{{vm.baseURL}}/multimedia/picture/pamietam.jpg" ng-click="vm.selectedAction(3)"></img>
                </div>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar class="bar-assertive">
        <div class="row text-center">
            <div class="col" ng-click="vm.goBack()">Wstecz</div>
        </div>
    </ion-footer-bar>
</ion-view>
