<ion-view ng-controller="HomeCtrl as vm">
    <ion-content>
        <div>
            <form class="item item-input" ng-submit='vm.searchUser()'>
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model='vm.searchValue' type="search" placeholder="Szukaj">
                <button class="button button-positive" type="submit">Szukaj <i class='ion-search'></i></button>

            </form>
            <ion-list>
                <ion-radio ng-change='vm.userChanged()' ng-model="vm.userSelected" ng-value="user.Id" ng-repeat='user in vm.users' on-hold='vm.showDetails(user.Id)'>
                    <a class="item item-avatar" href="#">
                        <h2>{{user.Login}}</h2>
                        <p>{{user.NameFirst + ' ' + user.NameLast}}</p><span>Ostatnio Zalogowany: {{user.LastLogin}}</span>
                    </a>
                </ion-radio>
            </ion-list>
        </div>

        <div>
            <ul class="list">
                <li class="item item-toggle">
                    Literowy
                    <label class="toggle toggle-calm">
                        <input type="checkbox" ng-model='vm.isLiteral'>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ul>
            <div class="list">

                <label class="item item-input item-select">
                    <div class="input-label">
                        Tryb osobowy
                    </div>
                    <select ng-model='vm.personType'>
                        <option>1 os</option>
                        <option>2 os</option>
                        <option>3 os</option>
                    </select>
                </label>

            </div>
        </div>
        <div class="text-center" ng-click='vm.startApp()'>
            <h1>
                <a ng-click='vm.goToCategory()' class="button icon-right ion-chevron-right button-calm">Dalej</a>
            </h1>
        </div>

        <div class="padding">
            <button nav-clear class="button button-block button-balanced" ng-click='vm.addNewUser()'><i class="ion-plus-circled"></i> Dodaj ucznia</button>
        </div>
        <div class="padding">
            <button nav-clear class="button button-block button-royal" ng-click="vm.goToManage()">
              <i class="ion-person-add"></i>
              Zarządzaj kontami
            </button>
        </div>
        <div class="padding">
            <button nav-clear class="button button-block button-dark" ng-click="vm.goToHome()">
              <i class="ion-person-add"></i>
              Wyloguj
            </button>
        </div>
    </ion-content>

</ion-view>