<ion-view ng-controller="StartCtrl as vm">
  <ion-content>
    <div class="list">
      <label class="item item-input">
              <span class="input-label">Login</span>
              <input type="text" ng-model="vm.userLogin">
            </label>
      <label class="item item-input">
              <span class="input-label">Hasło</span>
              <input type="password" ng-model="vm.userPassword">
            </label>
    </div>

    <div ng-if="vm.message" class="item assertive">
      <span>{{vm.message}}</span>
    </div>
    <div class="padding">

      <button nav-clear class="button button-block button-positive" ng-click="vm.loginUser()">
              <i class="ion-log-in"></i>
              Zaloguj
            </button>
    </div>
    <div class="padding">
      <button nav-clear class="button button-block button-balanced" ng-click="vm.goToSingup()">
              <i class="ion-person-add"></i>
              Utwórz konto
            </button>
    </div>
  </ion-content>
</ion-view>