<ion-view ng-controller="CategoryCtrl as vm">

    <div class="text-center">
        <div ng-repeat="categoriesInRow in vm.categoiesInRows" class="row custom-categories-row" ng-style="{{vm.maxHeightStyle}}">
            <div ng-repeat="category in categoriesInRow" class="col">
                <img class="category-image" ng-src={{category.Picture.Path}} ng-style="{{vm.maxHeightStyle}}" ng-click="vm.selectedCategory(category)"></img>
            </div>
        </div>
    </div>
    <ion-footer-bar class="bar-assertive">
        <div class="row text-center">
            <div class="col" ng-click="vm.goBack()">Wstecz</div>
        </div>
    </ion-footer-bar>
</ion-view>