<ion-view  ng-controller="SubcategoryCtrl as vm">
    <ion-content scroll="false">
        <div class="text-center subcategories-container">
            <div class="row responsive-sm">
                <div class="col">
                    <img ng-src="{{vm.Subcategories[0].Picture.Path}}" ng-click="vm.selectedsubCategory(0)"></img>
                    <div>{{vm.Subcategories[0].Variance.Text}}</div>
                </div>
                <div class="col">
                    <img ng-src="{{vm.Subcategories[1].Picture.Path}}" ng-click="vm.selectedsubCategory(1)"></img>
                    <div>{{vm.Subcategories[1].Variance.Text}}</div>
                </div>
            </div>
            <div class="row responsive-sm">
                <div class="col">
                    <img ng-src="{{vm.Subcategories[2].Picture.Path}}" ng-click="vm.selectedsubCategory(2)"></img>
                    <div>{{vm.Subcategories[2].Variance.Text}}</div>
                </div>
                <div class="col">
                    <img ng-src="{{vm.Subcategories[3].Picture.Path}}" ng-click="vm.selectedsubCategory(3)"></img>
                    <div>{{vm.Subcategories[3].Variance.Text}}</div>
                </div>
            </div>

        </div>
    </ion-content>
    <ion-footer-bar class="bar-assertive">
        <div class="row text-center">
            <div class="col" ng-click="vm.goBack()">Wstecz</div>
        </div>
    </ion-footer-bar>
</ion-view>
