<ion-view ng-controller="ManageCtrl as vm">
    <ion-content>
        <div class="list" ng-repeat="keeper in vm.keepers">
            <div class="item item-toggle">
                <i class="icon ion-person"></i>
                <span>{{keeper.Login}}</span>
                <div class="toggle toggle-assertive">
                    <label class="toggle">
                    <input type="checkbox" ng-model="keeper.IsActive" ng-change="vm.activeChange(keeper)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
                </div>
            </div>
            <div>
                <button class="button button-small button-assertive" ng-click="vm.removeKeeper(keeper)">
                    <i class="ion-trash-b"></i>
                    Remove
                    </button>
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-assertive">
        <div class="row text-center">
            <div class="col" ng-click="vm.goBack()">Wstecz</div>
        </div>
    </ion-footer-bar>
</ion-view>