<ion-view ng-controller="SingupCtrl as vm">
  <ion-content>
    <div class="list">
      <label class="item item-input">
              <span class="input-label">Login</span>
              <input type="text" ng-model="vm.userLogin">
            </label>
      <label class="item item-input">
              <span class="input-label">Hasło</span>
              <input type="password" ng-model="vm.userPassword">
            </label>
      <label class="item item-input">
              <span class="input-label">Powtórz hasło</span>
              <input type="password" ng-model="vm.userPasswordTemp">
            </label>
      <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="email" ng-model="vm.userEmail">
      </label>
    </div>

    <div ng-if="vm.message" class="item assertive">
      <span>{{vm.message}}</span>
    </div>

    <div class="padding">
      <button nav-clear class="button button-block button-positive" ng-click="vm.addNewKeeper()" ng-disabled="vm.loading">
                      <i class="ion-person-add"></i>
              Utwórz konto
            </button>
  </ion-content>
</ion-view>