<ion-view ng-controller="expressionLearnCtor as vm">
    <ion-content scroll="false">
        <div class="row row-center text-center" id="expressionContainer">
            <div class="col">
                <div class="person-item-img image-containet" ng-show='vm.showPersonContainer' ng-click='vm.clickOnPersonContainer()'>
                    <img ng-show='vm.showPersonImage' ng-src="{{vm.person.Picture}}">
                </div>
                <div ng-show='vm.subtitleVisible && vm.showPersonImage'>{{vm.person.Text}}</div>
            </div>
            <div class="col">
                <div class="action-item-img" ng-click='vm.clickActionImage()'>
                    <div class='action-item-container image-containet'>
                        <img ng-show="vm.showActionImage" ng-src='{{vm.Action.Picture}}'>
                    </div>
                </div>
                <div ng-show='vm.subtitleVisible && vm.showActionImage'>{{vm.Action.Text}}</div>
            </div>
            <div class="col">
                <div ng-click="vm.nounClickHandle()" class="noun-items" ng-show='vm.showPersonImage'>
                    <div ng-show="vm.showItem == $index" ng-repeat="noun in vm.nouns">
                        <div class="noun-item-img image-containet">
                            <img ng-show='vm.showNounImg' ng-src="{{noun.Picture}}">
                        </div>
                    </div>
                </div>
                <div ng-show="vm.showItem == $index && vm.showPersonImage" ng-repeat="noun in vm.nouns">
                    <div ng-show='vm.subtitleVisible && vm.showNounImg'>{{noun.Text}}</div>
                </div>
            </div>
        </div>
    </ion-content>
    <div ng-show="vm.isWin" id="winImage" ng-click="vm.goBack()">
        <img src="{{vm.baseURL}}/multimedia/picture/ok.jpg"></img>
    </div>
</ion-view>
