<ion-view ng-controller="expressionSpeachCtor as vm">

    <ion-content scroll="false">
        <div class='row row-center text-center' id="wordSpeachContent">
            <div class="col">
                <img class="person-item-img" ng-src="{{vm.person.Picture}}" ng-click='vm.personClick()'></img>
                <div>{{vm.person.Text}}</div>
            </div>
            <div class="col"></div>
            <div class="col">
                <img class="action-item-img" ng-src='{{vm.action.Picture}}' ng-click='vm.actionClick()'></img>
                <div>{{vm.action.Text}}</div>
            </div>
            <div class="col"></div>

            <div class="col">
                <div class="{{noun.completed}}" ng-repeat='noun in vm.nouns' ng-show='vm.showNoum == $index' ng-click='vm.clickOnImage($index)'>
                    <img src='{{noun.Picture}}' class="noun-item-img"></img>
                    <div>{{noun.Text}}</div>
                    <i class="done-icon" ng-show='noun.completed == "item-completed"'></i>
                </div>
            </div>

        </div>

        <div ng-show="vm.isWin" id="winImage" ng-click="vm.goBack()">
        <img src="{{vm.baseURL}}/multimedia/picture/ok.jpg"></img>
        </div>
    </ion-content>
</ion-view>
