<ion-view ng-controller="expressionExerciseCtor as vm">
    <ion-content scroll="false">
        <div class="row row-center text-center" id="expressionExerciseContainer">
            <div class="col">
                <div class="person-item-img image-containet" ng-click='vm.clickOnPersonContainer()'>
                    <img ng-src="{{vm.person.Picture}}">
                </div>
                <div ng-show='vm.subtitleVisible'>{{vm.person.Text}}</div>
            </div>
            <div class="col"></div>
            <div class="col">
                <div class="action-item-img dropzone" ng-click='vm.clickActionImage()'>
                    <div class='action-item-container image-containet'>
                        <img ng-src='{{vm.Action.Picture}}'>
                    </div>
                </div>
                <div ng-show='vm.subtitleVisible'>{{vm.Action.Text}}</div>
            </div>
            <div class="col"></div>
            <div class="col" id='nouns-content'>
                <div ng-repeat="noun in vm.nouns" class='nounBigContent'>
                    <div ng-click="vm.nounClickHandle($index)" class="noun-items" ng-show='vm.showBig[$index]'>
                        <div>
                            <div class="noun-item-img image-containet">
                                <img ng-show='vm.showBigImage[$index]' ng-src="{{noun.Picture}}">
                            </div>
                        </div>
                    </div>
                    <div ng-show='vm.showBig[$index]'>
                        <div ng-show='vm.subtitleVisible && vm.showBigImage[$index]'>{{noun.Text}}</div>
                    </div>

                    <div id='{{"noun0-" + $index}}' class="noun-small-item" ng-show='!vm.showBig[$index]'>
                        <div class="noun-item-img image-containet">
                            <img ng-src="{{noun.Picture}}">
                        </div>
                    </div>
                    <span ng-show='!vm.showBig[$index]'>
                        <div ng-show='vm.subtitleVisible'> </div>
                    </span>
                    <div id='{{"noun1-" + $index}}' class="noun-small-item" ng-show='!vm.showBig[$index]'>
                        <div class="noun-item-img image-containet">
                            <img ng-src="{{vm.fakeNouns[$index].Picture}}">
                        </div>
                    </div>
                    <span ng-show='!vm.showBig[$index]'>
                        <div ng-show='vm.subtitleVisible'> </div>
                    </span>
                </div>
            </div>
        </div>

        <div ng-show="vm.isWin" id="winImage" ng-click="vm.goBack()">
        <img src="{{vm.baseURL}}/multimedia/picture/ok.jpg"></img>
        </div>
    </ion-content>
</ion-view>
